<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carrito desplegable</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/596c39a353.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="carrito-body">

    <div class="carrito-encabezado">

        <div>
            Carrito
        </div>
        <div class="carrito-encabezado-cerrar">
            <i class="fa-solid fa-xmark"></i>
        </div>
    </div>

    <div class="carrito-cuerpo">

        <div class="carrito-producto">
            <div class="carr-caj-izq">
                <img src="/img/productos-20.jpg" alt="">
            </div>
            <div class="carr-caj-der">
                <div class="carr-caj-der-sup">
                    <div class="carr-caj-der-sup-nomb">
                        termidor
                    </div>
                    <div class="carr-caj-der-sup-prec">
                        5 pe
                    </div>
                </div>
                <div class="carr-caj-der-inf">
                    <div class="carr-caj-der-inf-cant">
                        - Cantidad +
                    </div>
                    <div class="carr-caj-der-inf-borrar">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                </div>
            </div>


        </div>
        <div class="carrito-producto">
            <div class="carr-caj-izq">

            </div>
            <div class="carr-caj-der">
                <div class="carr-caj-der-sup">
                    <div class="carr-caj-der-sup-nomb">
                        termidor
                    </div>
                    <div class="carr-caj-der-sup-prec">
                        5 pe
                    </div>
                </div>
                <div class="carr-caj-der-inf">
                    <div class="carr-caj-der-inf-cant">
                        - Cantidad +
                    </div>
                    <div class="carr-caj-der-inf-borrar">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="carrito-footer">
        <div class="carrito-resumen">
            <div class="carrito-res-izq">
                <div>
                    Productos
                </div>
                <div>
                    Costo de envío
                </div>
            </div>
            <div class="carrito-res-der">
                <div>
                    $$$$$
                </div>
                <div>
                    $$$$
                </div>
            </div>
        </div>
        <div class="carrito-pago">
            <div class="carrito-pago-izq">
                <div>
                    Productos
                </div>
                <div>
                    Costo de envío
                </div>
            </div>
            <div class="carrito-pago-der">
                <div>
                    $$$$$
                </div>
                <div>
                    $$$$
                </div>
            </div>
        </div>
        </div>
    </div> 





</body>



</html>