<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home sin loguear</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">


</head>
<body>
    <header class="encabezado">
                
        <nav class="navegacion">
             
            <div class="nav-izq">
                <img  src="/img/logo-letbar-sin-fondo.png" alt="">
            </div>
            
            <nav class="nav-cent">
                
                <img src="/img/iconos-09.png" alt="">
                
                
            </nav>
            
            <div class="nav-der">
                <img class="iconos" src="/img/iconos-08.png" alt="">
            </div>
            
           
        </nav>
        
        <div class="caja-slogan">
            <p class="slogan">DE LA PUERTA DEL <palabra-rosa> BAR </palabra-rosa><br> A TU <palabra-celeste>CASA</palabra-celeste></p>
        </div>
        
            
        
        <div class="barra-de-busqueda">
            barra de busqueda
        </div>
    
    </header>

    <section class="productos-destacados">
        
        <h3> Productos destacados </h3>
    
        <div class="galeria-destacados">
            
            <article class="tarjeta-destacado">
                caja 1
            </article>

            <article class="tarjeta-destacado">
                caja 2
            </article>
            
            <article class="tarjeta-destacado">
                caja 3
            </article>
            
            <article class="tarjeta-destacado">
                caja 4
            </article>
        
        </div>
        
        <div class="boton-ver-mas">

                ver más
        
        </div>
        

    </section>
    
    
    
    <section class="ofertas">
                
        <div class="tarjeta-oferta">
            
        </div>
    </section>

    <footer>

        <div class="caja-footer">
            
        </div>

        <div class="caja-disclaimer">
            © 2022 Let-Bar - BEBER CON MODERACIÓN. PROHIBIDA SU VENTA A MENORES DE 18 AÑOS.
        </div>

    </footer>

</body>
</html>