<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home sin loguear</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/596c39a353.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">


</head>

<body>
    <header class="encabezado">

        <nav class="navegacion">

            <div class="nav-izq">
                <img src="/img/logo-letbar-sin-fondo.png" alt="" class="iconos">
            </div>

            <nav class="nav-cent">

                <img src="/img/icono-lupa.png" alt="" class="iconos">


            </nav>

            <div class="nav-der">
                <img class="iconos" src="/img/icono-perfil.png" alt="">
            </div>


        </nav>

        <div class="caja-slogan">
            <p class="slogan">DE LA PUERTA DEL <palabra-rosa> BAR </palabra-rosa><br> A TU <palabra-celeste>CASA
                </palabra-celeste>
            </p>
        </div>



        <div class="caja-barra">
            <form class="busq" action="#" method="get">
                <input type="text" name="barra-busqueda" id="barra-busqueda" placeholder="Ingresá aqui tu dirección..."
                    class="barra-input">
                <i><img src="/img/icono-mapa.png" alt="Ver mapa"></i>
            </form>
            <input type="button" value="Buscar" class="boton-barra">

        </div>







    </header>

    <section class="productos-destacados">

        <h3> Productos destacados </h3>

        <div class="galeria-destacados">

            <div class="caja-articulos">

                <article class="tarjeta-destacado">

                    <div class="caja-art-sup">
                        dfgdfg
                    </div>

                    <div class="caja-art-inf">

                        <div class="caja-art-inf-izq">

                            <div class="art-nombre">
                                XXXXXXXXXX XX XX
                            </div>
                            <div class="art-precio">
                                $$$$$$
                            </div>

                        </div>
                        <div class="caja-art-inf-der">
                            <i class="fa-solid fa-circle-plus"></i>
                        </div>
                    </div>


                </article>

                <article class="tarjeta-destacado">

                    <div class="caja-art-sup">
                        dfgdfg
                    </div>

                    <div class="caja-art-inf">

                        <div class="caja-art-inf-izq">

                            <div class="art-nombre">
                                XXXXXXXXXX XX XX
                            </div>
                            <div class="art-precio">
                                $$$$$$
                            </div>

                        </div>
                        <div class="caja-art-inf-der">
                            <i class="fa-solid fa-circle-plus"></i>
                        </div>
                    </div>


                </article>

                <article class="tarjeta-destacado">

                    <div class="caja-art-sup">
                        dfgdfg
                    </div>

                    <div class="caja-art-inf">

                        <div class="caja-art-inf-izq">

                            <div class="art-nombre">
                                XXXXXXXXXX XX XX
                            </div>
                            <div class="art-precio">
                                $$$$$$
                            </div>

                        </div>
                        <div class="caja-art-inf-der">
                            <i class="fa-solid fa-circle-plus"></i>
                        </div>
                    </div>


                </article>

                <article class="tarjeta-destacado">

                    <div class="caja-art-sup">
                        dfgdfg
                    </div>

                    <div class="caja-art-inf">

                        <div class="caja-art-inf-izq">

                            <div class="art-nombre">
                                XXXXXXXXXX XX XX
                            </div>
                            <div class="art-precio">
                                $$$$$$
                            </div>

                        </div>
                        <div class="caja-art-inf-der">
                            <i class="fa-solid fa-circle-plus"></i>
                        </div>
                    </div>


                </article>
            </div>
        </div>

        <div>

            <input type="button" value="Ver más" class="boton-ver-mas">

        </div>


    </section>



    <section class="ofertas">

        <div class="tarjeta-oferta">

        </div>
    </section>

    <footer>

        <div class="caja-footer">

            <div class="footer-izq">
                <div class="footer-izq-sup">
                    <img src="/img/logo-letbar-sin-fondo.png" alt="">
                </div>
                <div class="footer-izq-inf">
                    Todos los derechos reservados.
                </div>
            </div>
            <div class="footer-cent">
                <div>
                    <img src="/img/icono-insta.png" alt="" class="iconos-footer"> @Let_bar
                </div>
                <div>
                    <img src="/img/icono.wap.png" alt="" class="iconos-footer"> 011-1234-4567
                </div>
                <div>
                    <img src="/img/icono-twitter.png" alt="" class="iconos-footer"> @Let_bar
                </div>




            </div>
            <div class="footer-der">

                <a href="#">Preguntas frecuentes</a>
                <a href="#">Términos y condiciones</a>
                <a href="#">Trabajá con nosotros</a>
                <a href="#">Contacto</a>
                <a href="#">Medidas Covid-19</a>
            </div>

        </div>

        <div class="caja-disclaimer">
            <div>© 2022 Let-Bar - BEBER CON MODERACIÓN. PROHIBIDA SU VENTA A MENORES DE 18 AÑOS.</div>
        </div>

    </footer>

</body>

</html>