<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/596c39a353.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <header class="encabezado">

        <nav class="navegacion">

            <div class="nav-izq">
                <img src="/img/logo-letbar-sin-fondo.png" alt="" class="iconos">
            </div>

            <nav class="nav-cent">

                <img src="/img/icono-lupa.png" alt="" class="iconos">

            </nav>

            <div class="nav-der">
                <img class="iconos" src="/img/icono-perfil.png" alt="">
            </div>

        </nav>

        <main>

            <div class="logo-registro">
                <img src="/img/logo-letbar-sin-fondo.png" alt="">
            </div>

            <div class="opcion-crear-cuenta">
                <h5>No tenes una cuenta?</h5>
                <button type="submit" class="boton-formulario">Crear cuenta</button>
            </div>


            <div class="formulario">

                <h4>Iniciar sesión</h4>

                <form action="resultado.html" method="POST">

                    <div>
                        <label>Email:</label>
                        <input class="control" type="email" name="Email" placeholder="Email" required>
                    </div>

                    <div>
                        <label>Contraseña:</label>
                        <input class="control" type="password" name="Contraseña" placeholder="Contraseña" required>
                    </div>

                    <button type="submit" class="boton-formulario">Iniciar sesión</button>
                    </br>
                    <h6><a href="#">Olvide mi contraseña</a>
                        <h6>
                            <div>
                                <a href="#" class="fa fa-facebook"></a>
                                <a href="#" class="fa fa-google"></a>
                            </div>
                </form>

            </div>

        </main>

        <footer>

            <div class="caja-footer">

                <div class="caja-footer-izq">

                    <div class="caja-footer-izq-sup">

                        <div class="caja-footer-izq-sup-izq">
                            <img src="/img/logo-letbar-sin-fondo.png" alt="" class="logo">
                        </div>
                        <div class="caja-footer-izq-sup-der">
                            <div>
                                Todos los derechos reservados.
                            </div>

                        </div>
                    </div>

                    <div class="caja-footer-izq-inf">
                        <div>
                            <img src="/img/icono-insta.png" alt="" class="iconos-footer">
                        </div>
                        <div>
                            <img src="/img/icono.wap.png" alt="" class="iconos-footer">
                        </div>
                        <div>
                            <img src="/img/icono-twitter.png" alt="" class="iconos-footer">
                        </div>
                    </div>
                </div>

                <div class="caja-footer-der">

                    <a href="#">Preguntas frecuentes</a>
                    <a href="#">Términos y condiciones</a>
                    <a href="#">Trabajá con nosotros</a>
                    <a href="#">Contacto</a>
                    <a href="#">Medidas Covid-19</a>
                </div>

            </div>

            <div class="caja-disclaimer">
                <div>© 2022 Let-Bar - BEBER CON MODERACIÓN. PROHIBIDA SU VENTA A MENORES DE 18 AÑOS.</div>
            </div>

        </footer>

    </header>

</body>

</html>