<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/596c39a353.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/formulario.css">

</head>

<body>
    <header class="">

        <nav class="navegacion">

            <div class="nav-izq">
                <img src="/img/logo-letbar-sin-fondo.png" alt="" class="iconos">
            </div>

            <nav class="nav-cent">

                <img src="/img/icono-lupa.png" alt="" class="iconos">

            </nav>

            <div class="nav-der">
                <img class="iconos" src="/img/icono-perfil.png" alt="">
            </div>

        </nav>

        <main>

            <div class="logo-registro">
                <img src="/img/logo-letbar-sin-fondo.png" alt="">
            </div>
            
            <div class="formulario">
                    
                <h4>Crea tu cuenta</h4>

                <form action="resultado.html" method="POST">
                    <div>
                        <label>Nombre y Apellido:</label>
                        <input class="control" type="text" name="nombre y apellido" placeholder="Nombre y Apellido" required>
                    </div>

                    <div>
                        <label>Email:</label>
                        <input class="control" type="email" name="Email" placeholder="Email" required>
                    </div>

                    <div>
                        <label>Contraseña:</label>
                        <input class="control" type="password" name="Contraseña" placeholder="Contraseña" required>
                    </div>

                    <div >
                        <label>Repetir contraseña:</label>
                        <input class="control" type="password" name="Repetir contraseña" placeholder="Repetir contraseña" required>
                    </div>

                    <div>
                        <label>Número de teléfono:</label>
                        <input class="control" type="tel" name="Número de teléfono" placeholder="Número de teléfono">
                    </div>

                    <div>
                        <label>Fecha de nacimiento:</label>
                        <input class="control" type="date" name="fecha de nacimiento" required>
                    </div>

                    <button type="submit" class="boton-formulario">Registrarme</button>
            </form>
            </div>

        </main>

        <footer>

            <div class="caja-footer">
    
                <div class="caja-footer-izq">
                    
                    <div class="caja-footer-izq-sup">
                        
                        <div class="caja-footer-izq-sup-izq">
                            <img src="/img/logo-letbar-sin-fondo.png" alt="" class="logo">
                        </div>
                        <div class="caja-footer-izq-sup-der">
                            <div>
                                Todos los derechos reservados.
                            </div>
                            
                        </div>
                    </div>
    
                    <div class="caja-footer-izq-inf">
                        <div>
                            <img src="/img/icono-insta.png" alt="" class="iconos-footer">
                        </div>
                        <div>
                            <img src="/img/icono.wap.png" alt="" class="iconos-footer"> 
                        </div>
                        <div>
                            <img src="/img/icono-twitter.png" alt="" class="iconos-footer">
                        </div>
                    </div>
                </div>
    
                <div class="caja-footer-der">
    
                    <a href="#">Preguntas frecuentes</a>
                    <a href="#">Términos y condiciones</a>
                    <a href="#">Trabajá con nosotros</a>
                    <a href="#">Contacto</a>
                    <a href="#">Medidas Covid-19</a>
                </div>
    
            </div>
    
            <div class="caja-disclaimer">
                <div>© 2022 Let-Bar - BEBER CON MODERACIÓN. PROHIBIDA SU VENTA A MENORES DE 18 AÑOS.</div>
            </div>
    
        </footer>

    </header>

</body>

</html>

