* {
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Roboto Mono', monospace;
    width: 100%;
    min-height: 100vh;
    height: auto;   
    display: flex;
    flex-direction: column;
    

}

.logo-registro{
    padding-left: 47%;
    background-color: #F1F1F1;


}

.formulario{
    padding: 20px 15px;
    background-color: lightgray;
    text-align: center;

}

.control-formulario{
margin-bottom: 45px; 
margin-left: 10%;
}