.card {
    width: 190px;
    height: 190px;
    border-radius: 15px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
        -15px -15px 30px #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3A3A3A;
    transition: all .15s;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

.card:hover {
    background-color: #41C1F0;

}

.card:active {
    box-shadow: none;
}

.boton-admin {
    border: none;
    color: #090909;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 0.5em;
    background: #e8e8e8;
    font-family: 'Roboto Mono', monospace;
    transition: all .15s;
    box-shadow: 6px 6px 12px #c5c5c5,
        -6px -6px 12px #ffffff;
    margin-bottom: 10px;
}

.boton-admin:active {
    box-shadow: none;
}


.rojo:hover {
    background-color: red;
}

.naranja:hover {
    background-color: orange;
}


.boton5 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: inherit;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    color: #7e97b8;
    background-color: #e0e8ef;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: rgba(255, 255, 255, 0.333);
    border-radius: 50%;
    transform: translate(0px, 0px) rotate(0deg);
    transition: 0.2s;
    box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
    height: 66px;
    width: 66px;
}



.boton5:hover {
    color: #516d91;
    background-color: #E5EDF5;
    box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
}

.boton5:active {
    box-shadow: none;
}







/*Menù lateral*/
#btn-menu {
    display: none;
}

.container-menu {
    position: fixed;
    background: rgba(0, 0, 35, 0.7);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: row-reverse;
    z-index: 100;
}

#btn-menu:checked~.container-menu {
    opacity: 1;
    visibility: visible;
}

.cont-menu {
    width: 100%;
    max-width: 400px;
    background: #1c1c1c;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(100%);

}

#btn-menu:checked~.container-menu .cont-menu {
    transform: translateX(0%);


}

.cont-menu label {
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}



/*Fin de Menù lateral*/


/* valoracion */

.valoracion {
    display:flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 25px;
    color: #1c1c1c;
    
}
.texto-valoracion{
    display:flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    
    padding-top: 10px;
    padding-left: 25px;
    color: #1c1c1c;
}

.boton-valoracion{
    margin-left: 8px;
    box-shadow: -4px -2px 8px 0px #ffffff, 4px 2px 8px 0px rgb(95 157 231 / 48%);
    padding: 8px 15px 8px 15px;
    font-family: 'Roboto Mono', monospace;
    border-radius: 20px;
    color: #3A3A3A;
    background-color: #e0e8ef;
    border: none;
    font-size: 14px;
    transition: all 0.5s;
}

.boton-valoracion:hover{
    color: white;
    background-color: #41C1F0;
    
}

.boton-valoracion:active{
    box-shadow: none;
}

div.clasificacion {
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding: 10px;
}

div.clasificacion input {
    position: absolute;
    top: -100px;
}

div.clasificacion label {
    float: right;
    color: #333;
}

div.clasificacion label:hover,
div.clasificacion label:hover~label,
div.clasificacion input:checked~label {
    color: #EB609F;
    
    filter: drop-shadow(0px 0px 2px #EB609F);
   
    
}

/* Fin valoracion */

/*PopUp*/
#popUp {
    display: none;
}

.fondo-popUp {
    position: fixed;
    background: rgba(0, 0, 35, 0.7);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: row-reverse;
    z-index: 100;
}

#popUp:checked~.fondo-popUp {
    opacity: 1;
    visibility: visible;
}

.cont-popUp {
    width: 85%;
    max-width: 380px;
    background: #1c1c1c;
    border-radius: 15px;
    height: 90vh;
    position: relative;
    align-self: center;
    transition: all 500ms ease;
    transform: scale(20%);
    margin: auto;
}

#popUp:checked~.fondo-popUp .cont-popUp {
    transform: scale(100%);
}

.tarjeta-popUp {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: #e0e0e0;
    box-shadow: 10px 10px 20px rgba(0, 0, 35, 1),
        -10px -10px 20px rgba(74, 84, 119, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: #3A3A3A;
    transition: all .15s;
    font-family: 'Roboto Mono', monospace;
    padding: 20px;
    position: relative;
}
.cont-img{
    display: flex;
    align-items: center;
    box-shadow: 8px 8px 9px #bebebe,
        -8px -8px 9px #ffffff;
    border: #e0e0e0 5px solid;
    border-radius: 15px;
    flex-direction: column;
    color: #565656;
}

.cont-img div{
    padding-top: 6px;
    padding-bottom: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.img-popUp {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    
    
}

.main-popUp div {
    font-size: 12px;
}

.renglon-popUp {
    display: flex;
    width: 100%;
    margin-top: 8px;
    
}

.renglon-tit-popUp {
    align-self: flex-start;
    padding-left: 10px;
    background-color: white;
    border-radius: 10px;
    padding: 3px 10px 3px 10px;
    font-size: 12px;
    margin-right: 5px;
}

.renglon-cont-popUp {
    align-self: flex-start;
    border-radius: 10px;
    padding: 3px 10px 3px 10px;
    font-size: 12px;
    color: white;
    background-color: #c5c5c5;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
}

.renglon-tit-popUp-val {
    align-self: flex-start;
    padding-left: 10px;
    background-color: white;
    border-radius: 10px;
    padding: 3px 10px 3px 10px;
    font-size: 12px;
    width: 100%;
    
}
.renglon-cont-popUp-val {
    align-self: flex-start;    
    padding: 3px 10px 3px 10px;
    font-size: 12px;
    color: white;    
    width: 100%;
    font-family: 'Roboto Mono', monospace;
}

.correcion-boton {
    padding: 3px 10px 3px 10px;
}

.boton-cerrar-popUp {
    display: flex;
    position: absolute;
    width: 36px;
    height: 36px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-radius: 50%;
    background: #c5c5c5;
    transition: all .2s;
    box-shadow: 0px 0px 10px white;   
    right: -18px;
    top: -18px;
    z-index: 10;
}
.boton-cerrar-popUp i {
    font-size: 20px;
    
}

.boton-cerrar-popUp:active {
    background-color: #41C1F0;
  box-shadow: -6px 6px 20px rgba(65, 193, 240, 0.8);
  color: #fff;
  
}

.boton-verMas-popUp {
    display: flex;
    position: absolute;
    width: 70%;
    height: 20px;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px 10px 0px 0px;
    background: #c5c5c5;
    transition: all .2s;
    box-shadow: 0px 0px 10px white;   
    bottom: 0px;
    z-index: 10;
}
.boton-verMas-popUp:active {
    background-color: #41C1F0;
  box-shadow: -6px 6px 20px rgba(65, 193, 240, 0.8);
  color: #fff;
  
}

.iconos-popUp {
    color: white;
    filter: drop-shadow(0px 0px 4px rgba(65, 193, 240, 0.8));
    z-index: 10;
}

.desc-popUp {
    overflow-x: scroll;
    margin-top: 8px;
}

.valoracion-popUp {
    display:flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #1c1c1c;
    
}


/*Fin de Menù lateral*/