* {
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;

}

.desktop{
    display: none;
}

nav{
    margin-bottom: 20px;
    text-align: left;
}
main{
    width: 90vw;
    background-color: #ebebeb;
    margin: auto; 
      }

.titulares{
    font-size: 24px;
    color: #666;

}

.precios{
    font-size: 18px;
    
}

.descuentos{
    font-size: 16px;
    color: #39b54a;
    margin-top: -16px;
}

.descripciones{
    font-size: 16px;
    color: #666;
    display: none;
}

.amarillo{
    background-color: #EAC926;
    text-align: center;
}

.burger-menu{
    background-color: #03264C;
    color: white;
    font-size: 20px;
    height: 3em;
    width: 3em;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:auto;

}


.articulo{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
    
        
}

.caja-articulo{
    border-top: 1px solid #ebebeb;
    padding: 15px;
}

.banner{
    margin: auto;
    justify-content: center;
    display: flex;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.logo-compra{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #39b54a;
    border: #39b54a solid 1px;  
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


footer{
    text-align: center;
    font-size: 12px;
    width: 90vw; 
    margin-left: auto;
    margin-right: auto;
    background-color: white; 
    padding-bottom: 5px;
    color: #666;
    
}

.icono{
    font-size: 2em;
    color: #1259c3;
    margin-bottom: 10px;
    
}

.texto-footer{
    margin-top: -14px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.seccion-footer{
    margin-top: 30px;
    margin-bottom: 30px;
}


@media (min-width: 361px){
    .descripciones{
        display: contents;
    }
    
    .articulo{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .desktop{
        display:block;
    }

    .burger-menu{
        display: none;
    }

}


@media (min-width: 769px){
    
}
