<!--Head-->
<%- include("../views/partials/head") %>



    <body class="bodyCorto">

        <!--Header-->
        <%- include("../views/partials/headerGeneral") %>



            <main class="centrado wall">

                <img src="/img/fondo-variable-01.png" alt="" class="wall-izq">
                <img src="/img/fondo-variable-02.png" alt="" class="wall-der">
 
                <h3>Agregar nuevo producto</h3>
                
                <form action="/" method="POST" class="FormCarga">
                    
                    <div>
                        <label>Categoría:</label>
                        <select name="categoria" class="imputForm">
                            <option value="sinAlcohol">Sin alcohol</option>
                            <option value="cervezas">Cervezas</option>
                            <option value="snacks">Snacks</option>
                            <option value="espumantes">Espumantes</option>
                            <option value="vinos">Vinos</option>
                            <option value="destilados">Destilados</option>
                        </select>
                    </div>
                    <div>
                        <label>Nombre del producto:</label>
                        <input type="text" name="nombre" placeholder="Nombre del producto..." class="imputForm">
                    </div>
                    <div>
                        <label>Tamaño del producto:</label>
                        <input type="number" name="tamaño" placeholder="Tamaño en ml..." class="imputForm">
                    </div>
                    <div>
                        <label>Precio por unidad:</label>
                        <input type="number" name="Precio" placeholder="Precio por unidad..." class="imputForm">
                    </div>
                    <div>
                        <label>Precio por cantidad:</label>
                        <input type="number" name="precioCantidad" placeholder="Precio por cantidad..."
                            class="imputForm">
                    </div>
                    <div>
                        <label>Graduación alcoholica:</label>
                        <input type="number" name="graduacionAlcoholica" placeholder="Graduacion alcoholica..."
                            class="imputForm">
                    </div>
                    <div>
                        <label>Stock:</label>
                        <input type="number" name="stock" placeholder="Stock en unidades..." class="imputForm">
                    </div>
                    <div>
                        <label>Descripción:</label>
                        <textarea rows="5" placeholder="Describe tu producto..." class="imputForm"></textarea>
                    </div>
                    <div>
                        <label>Fotos del producto:</label>
                        <input type="file" name="foto-producto" accept=".jpg" class="imputForm">
                    </div>
                    <div class="caja-fotos-producto">
                        <div class="foto-producto"> <i class="fa-solid fa-plus"></i> </div>
                        <div class="foto-producto"> <i class="fa-solid fa-plus"></i> </div>
                        <div class="foto-producto"> <i class="fa-solid fa-plus"></i> </div>
                        <div class="foto-producto"> <i class="fa-solid fa-plus"></i> </div>
                        <div class="foto-producto"> <i class="fa-solid fa-plus"></i> </div>
                    </div>
                    <div class="centrado">
                        <a href="/users/panel-control" class="boton-ver-mas">Guardar</a>
                    </div>



                </form>
            </main>

            <!--Footer-->
            <%- include("../views/partials/footer") %>

    </body>