<!--Head-->
<%- include("../views/partials/head") %>



    <body class="bodyCorto">

        <!--Header-->
        <%- include("../views/partials/headerGeneral") %>



            <main class="centrado wall">

                <img src="/img/fondo-variable-01.png" alt="" class="wall-izq">
                <img src="/img/fondo-variable-02.png" alt="" class="wall-der">
 
                <h3>Agregar nuevo producto</h3>
                
                <form action="/productos" method="POST" class="FormCarga">
                    
                    <div>
                        <label>Categoría:</label>
                        <select name="categoria" class="imputForm">
                            <option value="sinAlcohol">Sin alcohol</option>
                            <option value="cervezas">Cervezas</option>
                            <option value="snacks">Snacks</option>
                            <option value="espumantes">Espumantes</option>
                            <option value="vinos">Vinos</option>
                            <option value="destilados">Destilados</option>
                        </select>
                    </div>
                    <div>
                        <label>Nombre del producto:</label>
                        <input type="text" name="name" id= "name" placeholder="Nombre del producto..." class="imputForm">
                    </div>
                    <div>
                        <label>Tamaño del producto:</label>
                        <input type="number" name="size" placeholder="Tamaño en ml..." class="imputForm">
                    </div>
                    <div>
                        <label>Cosecha:</label>
                        <input type="number" name="years" placeholder="Año Cosecha..." class="imputForm">
                    </div>
                    <div>
                        <label>Precio por unidad:</label>
                        <input type="number" name="price" placeholder="Precio por unidad..." class="imputForm">
                    </div>
                    <div>
                        <label>Precio por cantidad:</label>
                        <input type="number" name="priceCant" placeholder="Precio por cantidad..."
                            class="imputForm">
                    </div>
                    <div>
                        <label>Unidades para descuento:</label>
                        <input type="number" name="cantDisc" placeholder="Unidades para descuentos..." class="imputForm">
                    </div>
                    <div>
                        <label>En oferta</label>
                        <input type="boolean" name="offer" placeholder="Producto en oferta..." class="imputForm">
                    </div>
                    <div>
                        <label>Graduación alcoholica:</label>
                        <input type="number" name="graduation" placeholder="Graduacion alcoholica..."
                            class="imputForm">
                    </div>
                    <div>
                        <label>Stock:</label>
                        <input type="number" name="stock" placeholder="Stock en unidades..." class="imputForm">
                    </div>
                    <div>
                        <label>Descripción:</label>
                        <textarea rows="5" name="descritption" placeholder="Describe tu producto..." class="imputForm"></textarea>
                    </div>
                    <div>
                        <label>Fotos del producto:</label>
                        <input type="file" name="image" accept=".jpg" class="imputForm">
                    </div>
                    <div class="caja-fotos-producto">
                        <div class="foto-producto"> <i class="fa-solid fa-plus"></i> </div>
                        <div class="foto-producto"> <i class="fa-solid fa-plus"></i> </div>
                        <div class="foto-producto"> <i class="fa-solid fa-plus"></i> </div>
                        <div class="foto-producto"> <i class="fa-solid fa-plus"></i> </div>
                        <div class="foto-producto"> <i class="fa-solid fa-plus"></i> </div>
                    </div>
                    <div class="centrado">
                        <button type="submit" class="boton-ver-mas">Agregar</button>
                    </div>



                </form>
            </main>

            <!--Footer-->
            <%- include("../views/partials/footer") %>

    </body>