<!--Head-->
<%- include("../views/partials/head") %>

<body class="carrito-body">

    <div class="carrito-encabezado">

        <div>
            Carrito
        </div>
        <div class="carrito-encabezado-cerrar">
            <a href="/home"><i class="fa-solid fa-xmark"></i></a>
        </div>
    </div>

    <div class="carrito-cuerpo">

        <div class="carrito-producto">
            <div class="carr-caj-izq">
                <img src="/img/productos-20.jpg" alt="">
            </div>
            <div class="carr-caj-der">
                <div class="carr-caj-der-sup">
                    <div class="carr-caj-der-sup-nomb">
                        Fernandito
                    </div>
                    <div class="carr-caj-der-sup-prec">
                        500 pe
                    </div>
                </div>
                <div class="carr-caj-der-inf">
                    <div class="carr-caj-der-inf-cant">
                        - Cantidad +
                    </div>
                    <div class="carr-caj-der-inf-borrar">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                </div>
            </div>


        </div>
        <div class="carrito-producto">
            <div class="carr-caj-izq">

            </div>
            <div class="carr-caj-der">
                <div class="carr-caj-der-sup">
                    <div class="carr-caj-der-sup-nomb">
                        termidor
                    </div>
                    <div class="carr-caj-der-sup-prec">
                        15 pe
                    </div>
                </div>
                <div class="carr-caj-der-inf">
                    <div class="carr-caj-der-inf-cant">
                        - Cantidad +
                    </div>
                    <div class="carr-caj-der-inf-borrar">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="carrito-producto">
            <div class="carr-caj-izq">

            </div>
            <div class="carr-caj-der">
                <div class="carr-caj-der-sup">
                    <div class="carr-caj-der-sup-nomb">
                        Cocucha cero calorias
                    </div>
                    <div class="carr-caj-der-sup-prec">
                        5 pe
                    </div>
                </div>
                <div class="carr-caj-der-inf">
                    <div class="carr-caj-der-inf-cant">
                        - Cantidad +
                    </div>
                    <div class="carr-caj-der-inf-borrar">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="carrito-producto">
            <div class="carr-caj-izq">

            </div>
            <div class="carr-caj-der">
                <div class="carr-caj-der-sup">
                    <div class="carr-caj-der-sup-nomb">
                        termidor
                    </div>
                    <div class="carr-caj-der-sup-prec">
                        5 pe
                    </div>
                </div>
                <div class="carr-caj-der-inf">
                    <div class="carr-caj-der-inf-cant">
                        - Cantidad +
                    </div>
                    <div class="carr-caj-der-inf-borrar">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                </div>
            </div>
        </div>
<div class="carrito-producto">
            <div class="carr-caj-izq">

            </div>
            <div class="carr-caj-der">
                <div class="carr-caj-der-sup">
                    <div class="carr-caj-der-sup-nomb">
                        termidor
                    </div>
                    <div class="carr-caj-der-sup-prec">
                        5 pe
                    </div>
                </div>
                <div class="carr-caj-der-inf">
                    <div class="carr-caj-der-inf-cant">
                        - Cantidad +
                    </div>
                    <div class="carr-caj-der-inf-borrar">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                </div>
            </div>
        </div>


    </div>


    <div class="carrito-footer">
        <div class="carrito-resumen">
            <div class="carrito-res-izq">
                <div>
                    Productos
                </div>
                <div>
                    Costo de envío
                </div>
            </div>
            <div class="carrito-res-der">
                <div>
                    $$$$$
                </div>
                <div>
                    $$$$
                </div>
            </div>
        </div>
        <div class="carrito-pago">
            
            <div class="carrito-pago-sup">
                
                <div class="carrito-pago-izq">
                    <div>
                        Total
                    </div>
                </div>
                
                <div class="carrito-pago-der">
                    <div>
                        $$$$$
                    </div>
                </div>

            </div>
            <div class="carrito-pago-inf">
                <a href="/compras/check-out"><div>Continuar compra</div> </a>
            </div>
        </div>
    </div>
    </div>





</body>



</html>