<!--Head-->
<%- include("../views/partials/head") %>

<body>
    <%- include("../views/partials/headerGeneral") %>

    <section class="productos-destacados">

        <h3> Categorias </h3>

        <div class="galeria-destacados">

            <div class="caja-articulos">

                <article class="tarjeta-destacado">

                    <div class="caja-art-sup">
                        dfgdfg
                    </div>

                    <div class="caja-art-inf">

                        <div class="caja-art-inf-izq">

                            <div class="art-nombre">
                                XXXXXXXXXX XX XX
                            </div>
                            <div class="art-precio">
                                $$$$$$
                            </div>

                        </div>
                        <div class="caja-art-inf-der">
                            <i class="fa-solid fa-circle-plus"></i>
                        </div>
                    </div>



    <div class="caja-footer">

        <div class="footer-izq">
            <div class="footer-izq-sup">
                <img src="/img/logo-letbar-sin-fondo.png" alt="">
            </div>
            <div class="footer-izq-inf">
                Todos los derechos reservados.
            </div>
        </div>
        <div class="footer-cent">
            <div>
                <img src="/img/icono-insta.png" alt="" class="iconos-footer"> @Let_bar
            </div>
            <div>
                <img src="/img/icono.wap.png" alt="" class="iconos-footer"> 011-1234-4567
            </div>
            <div>
                <img src="/img/icono-twitter.png" alt="" class="iconos-footer"> @Let_bar
            </div>

            <section class="productos-destacados">

                <h3> Productos destacados </h3>
        
                <div class="galeria-destacados">
        
                    <div class="caja-articulos">
        
                        <article class="tarjeta-destacado">
        
                            <div class="caja-art-sup">
                                dfgdfg
                            </div>
        
                            <div class="caja-art-inf">
        
                                <div class="caja-art-inf-izq">
        
                                    <div class="art-nombre">
                                        XXXXXXXXXX XX XX
                                    </div>
                                    <div class="art-precio">
                                        $$$$$$
                                    </div>
        
                                </div>
                                <div class="caja-art-inf-der">
                                    <i class="fa-solid fa-circle-plus"></i>
                                </div>
                            </div>
        
        


        


        <div class="footer-der">

            <a href="#">Preguntas frecuentes</a>
            <a href="#">Términos y condiciones</a>
            <a href="#">Trabajá con nosotros</a>
            <a href="#">Contacto</a>
            <a href="#">Medidas Covid-19</a>
        </div>

    </div>

    <div class="caja-disclaimer">
        <div>© 2022 Let-Bar - BEBER CON MODERACIÓN. PROHIBIDA SU VENTA A MENORES DE 18 AÑOS.</div>
    </div>

</footer>

</body>

</html>