<!--Head-->
<%- include("../views/partials/head") %>

<body>
    <%- include("../views/partials/headerGeneral") %>

    <main class="check">

        <div class="check-resumen">

            <div class="check-prod">
                <div>
                    cant
                </div>
                <div>
                    img
                </div>
                <div>
                    nombre
                </div>
                <div class="check-precio">
                    precio
                </div>
            </div>
            <div class="check-prod">
                <div>
                    cant
                </div>
                <div>
                    img
                </div>
                <div>
                    nombre
                </div>
                <div>
                    precio
                </div>
            </div>
            <div class="check-prod">
                <div>
                    cant
                </div>
                <div>
                    img
                </div>
                <div>
                    nombre
                </div>
                <div>
                    precio
                </div>
            </div>


        </div>

        <div class="check-datos">

            <div class="carrito-producto">
                <div class="carr-caj-izq">

                </div>
                <div class="carr-caj-der">
                    <div class="carr-caj-der-sup">
                        <div class="carr-caj-der-sup-nomb">
                            termidor
                        </div>
                        <div class="carr-caj-der-sup-prec">
                            5 pe
                        </div>
                    </div>
                    <div class="carr-caj-der-inf">
                        <div class="carr-caj-der-inf-cant">
                            - Cantidad +
                        </div>
                        <div class="carr-caj-der-inf-borrar">
                            <i class="fa-solid fa-xmark"></i>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </main>


</body>
<footer>

    <div class="caja-footer">

        <div class="caja-footer-izq">

            <div class="caja-footer-izq-sup">

                <div class="caja-footer-izq-sup-izq">
                    <img src="/img/logo-letbar-sin-fondo.png" alt="" class="logo">
                </div>
                <div class="caja-footer-izq-sup-der">
                    <div>
                        Todos los derechos reservados.
                    </div>

                </div>
            </div>

            <div class="caja-footer-izq-inf">
                <div>
                    <img src="/img/icono-insta.png" alt="" class="iconos-footer">
                </div>
                <div>
                    <img src="/img/icono.wap.png" alt="" class="iconos-footer">
                </div>
                <div>
                    <img src="/img/icono-twitter.png" alt="" class="iconos-footer">
                </div>
            </div>
        </div>

        <div class="caja-footer-der">

            <a href="#">Preguntas frecuentes</a>
            <a href="#">Términos y condiciones</a>
            <a href="#">Trabajá con nosotros</a>
            <a href="#">Contacto</a>
            <a href="#">Medidas Covid-19</a>
        </div>

    </div>

    <div class="caja-disclaimer">
        <div>© 2022 Let-Bar - BEBER CON MODERACIÓN. PROHIBIDA SU VENTA A MENORES DE 18 AÑOS.</div>
    </div>
</footer>

</body>

</html>