<!--Head-->
<%- include("../views/partials/head") %>

<body>
    <%- include("../views/partials/headerGeneral") %>

    <main class="check">

        <div class="check-resumen">

            <div class="check-prod">
                <div>
                    cant
                </div>
                <div>
                    img
                </div>
                <div>
                    nombre
                </div>
                <div class="check-precio">
                    precio
                </div>
            </div>
            <div class="check-prod">
                <div>
                    cant
                </div>
                <div>
                    img
                </div>
                <div>
                    nombre
                </div>
                <div>
                    precio
                </div>
            </div>
            <div class="check-prod">
                <div>
                    cant
                </div>
                <div>
                    img
                </div>
                <div>
                    nombre
                </div>
                <div>
                    precio
                </div>
            </div>


        </div>

        <div class="check-datos">

            <div class="carrito-producto">
                <div class="carr-caj-izq">

                </div>
                <div class="carr-caj-der">
                    <div class="carr-caj-der-sup">
                        <div class="carr-caj-der-sup-nomb">
                            termidor
                        </div>
                        <div class="carr-caj-der-sup-prec">
                            5 pe
                        </div>
                    </div>
                    <div class="carr-caj-der-inf">
                        <div class="carr-caj-der-inf-cant">
                            - Cantidad +
                        </div>
                        <div class="carr-caj-der-inf-borrar">
                            <i class="fa-solid fa-xmark"></i>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </main>


</body>

<!--Footer-->
<%- include("../views/partials/footer") %>

</body>

</html>