<!--Head-->
<%- include("../views/partials/head") %>

    <body class="body-check">
        <%- include("../views/partials/headerGeneral") %>

            <main class="check">
                
                
                
                <div class="check-datos-container">
                    
                    <a href="/home">
                        <div class="boton-editar-prod"> Atras </div>
                    </a>
                    <div class="check-datos-box">

                        <div class="check-datos-titulo">

                            datos usuario
                        </div>

                        <div class="check-datos-cont">
                            Nombre : "el nombre"
                        </div>
                        <div class="check-datos-cont">
                            Apellido: "el apellido"
                        </div>


                    </div>
                    <div class="check-datos-box">

                        <div class="check-datos-titulo">

                            Direccion de entrega
                        </div>
                        <div class="check-datos-cont-entrega">
                            <div>
                                Entregar en:
                            </div>

                            <select name="address.alias" class="imputForm-pago">

                                <option value="Mp"> Casa </option>
                                <option value="tc"> Trabajo </option>
                                <option value="td"> Casa novia </option>

                            </select>

                        </div>
                        <div class="check-datos-cont">
                            Provincia: "address.province"
                        </div>
                        <div class="check-datos-cont">
                            Localidad: "address.locality"
                        </div>
                        <div class="check-datos-cont">
                            Calle: "address.street address.street_number"
                        </div>

                    </div>
                    <div class="check-datos-box">
                        <div class="check-datos-titulo">

                            Forma de pago
                        </div>

                        <select name="pago" class="imputForm-pago">

                            <option value="Mp"> MercadoPago </option>
                            <option value="tc"> Tarjeta de Crédito </option>
                            <option value="td"> Tarjeta de Débito </option>
                            <option value="tb"> Transferencia Bancaria </option>
                            <option value="ef"> Efectivo </option>
                        </select>

                    </div>
                </div>

                <div class="check-datos-container">

                    <div class="check-datos-box">
                        <div class="check-datos-titulo">

                            Resumen de compra
                        </div>
                        /* un for each por cada producto en carrito */
                        <div class="tarjeta-producto-edit">
                            <div class="margin-LR">
                                <img src="/img/products/andes-ipa.jpg" alt="" class="img-edit">
                            </div>

                            <div class="margin-LR">
                                <div>
                                    Nombre:
                                </div>
                                <div>
                                    Andes Ipa
                                </div>

                            </div>
                            <div class="margin-LR">
                                <div>
                                    precio:
                                </div>
                                <div>
                                    $250
                                </div>

                            </div>

                            <div class="box-icons">
                                <form action="#" method="POST">
                                    <button type="submit" class="boton-editar-prod"><i
                                            class="fa-solid fa-trash"></i></button>
                                </form>
                            </div>
                        </div>

                        <div class="tarjeta-producto-edit">
                            <div class="margin-LR">
                                <img src="/img/products/andes-ipa.jpg" alt="" class="img-edit">
                            </div>

                            <div class="margin-LR">
                                <div>
                                    Nombre:
                                </div>
                                <div>
                                    Andes Ipa
                                </div>

                            </div>
                            <div class="margin-LR">
                                <div>
                                    precio:
                                </div>
                                <div>
                                    $250
                                </div>

                            </div>

                            <div class="box-icons">
                                <form action="#" method="POST">
                                    <button type="submit" class="boton-editar-prod"><i
                                            class="fa-solid fa-trash"></i></button>
                                </form>
                            </div>
                        </div>

                        <div class="tarjeta-producto-edit">
                            <div class="margin-LR">
                                <img src="/img/products/andes-ipa.jpg" alt="" class="img-edit">
                            </div>

                            <div class="margin-LR">
                                <div>
                                    Nombre:
                                </div>
                                <div>
                                    Andes Ipa
                                </div>

                            </div>
                            <div class="margin-LR">
                                <div>
                                    precio:
                                </div>
                                <div>
                                    $250
                                </div>

                            </div>

                            <div class="box-icons">
                                <form action="#" method="POST">
                                    <button type="submit" class="boton-editar-prod"><i
                                            class="fa-solid fa-trash"></i></button>
                                </form>
                            </div>
                        </div>



                    </div>
                    <div class="check-datos-box">

                        <div class="tarjeta-producto-edit">

                            <div class="margin-LR">
                                <div>
                                    Envío:
                                </div>
                                <div>
                                    $$$$
                                </div>

                            </div>
                            <div class="margin-LR">
                                <div>
                                    productos:
                                </div>
                                <div>
                                    $$$$
                                </div>

                            </div>
                            <div class="margin-LR">
                                <div>
                                    Total:
                                </div>
                                <div>
                                    $$$$
                                </div>

                            </div>

                            <div class="box-icons">
                                <form action="#" method="POST">
                                    <button type="submit" class="boton-editar-prod">Comprar</button>
                                </form>
                            </div>

                        </div>

                    </div>

                </div>





            </main>


    </body>

    <!--Footer-->
    <%- include("../views/partials/footer") %>

        </body>

        </html>