<!--Head-->
<%- include("../views/partials/head") %>

    <body class="body-control">
        <header class="caja-header-control">
            <div class="nav-izq">
                <a href="/home"><img src="/img/logo-letbar-sin-fondo.png" alt="" class="iconos"></a>
            </div>

            <nav class="header-control">
                <div class="caja-direc-der">
                    <div class="text-center">Panel de control</div>
                </div>
                <div class="caja-direc-izq">
                    <i class="fa-solid fa-sliders icono-control"></i>
                </div>
                
            </nav>


        </header>
        <main class="main-control">

            <a href="/productos/agregar-producto"><div class="card">
                Agregar Producto
            </div></a>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            

            
            

        </main>

        <!--Footer-->
        <%- include("../views/partials/footer") %>
    </body>