<!--Head-->
<%- include("../views/partials/head") %>

<body>
    <%- include("../views/partials/headerGeneral") %>

    <main>
        <!--- <div class="det-macro"> -->
        <section class="det-productos">
            <div class="det-princ">
                <div class="det-atras"> Atras </div>
                <div class="det-imgDet">
                    <div class="det-img">

                        <img src="/img/productos-18.jpg" alt="">

                    </div>




                    <div class="det-caj-der">
                        <div class="det-det-prod">
                            <h3> Detalle de Producto </h3>
                            <div class="det-caj-der-sup-nomb">
                                Nombre del Producto
                            </div>
                        </div>

                        <div class="det-caj-der-sup">

                            <div class="det-caj-der-sup-tam">
                                Tamaño del Producto
                            </div>
                            <div class="det-caj-der-sup-pre">
                                Precio del Producto
                            </div>


                        </div>

                        <div class="det-caj-der-inf">
                            <div class="det-caj-der-inf-cant">
                                - Cantidad +
                            </div>
                            <div class="det-caj-der-inf-borrar">
                                <i class="fa-solid fa-xmark"></i>
                            </div>
                        </div>



                    </div>



                </div>
        </section>
        <section class="detalle-productos">
            <div class="det-art-sup">
                <div class="det-art-primera"> Detalle del producto </div>
                <br>

                <div class="det-art-segunda">
                    En esta sección van los datos adicionales del producto seleccionado.

                </div>
                <div class="det-art-tercera">
                    Bodega, Años, Marca.
                </div>
                <div class="det-art-cuarta">
                    Graduación
                </div>
                <br><br>
                <div class="det-art-quinta">
                    Años
                </div>

                <br>
                <div class="det-art-sexta">
                    Valoración de los compradores.
                </div>
            </div>
        </section>


        <section class="tarjeta-categoria">

            <div class="det-tarj-cat-sup">
                <div>También te podría interesar </div>
            </div>

            <div class="tarj-cat-inf">

                <div class="tarj-cat-inf-izq">

                    <article class="tarjeta-art-cat">
                        <div class="caja-art-cat-sup">
                            <img src="/img/productos-21.jpg" alt="">
                        </div>
                        <div class="caja-art-inf-cat">

                            <div class="caja-art-inf-izq">
                                <div class="art-nombre">
                                    XXXXXXXXXX XX XX
                                </div>
                                <div class="art-precio">
                                    $$$$$$
                                </div>
                            </div>
                            <div class="caja-art-inf-der-cat">
                                <i class="fa-solid fa-circle-plus"></i>
                            </div>
                        </div>
                    </article>
                    <article class="tarjeta-art-cat">
                        <div class="caja-art-cat-sup">
                            <img src="" alt="">
                        </div>
                        <div class="caja-art-inf-cat">

                            <div class="caja-art-inf-izq">
                                <div class="art-nombre">
                                    XXXXXXXXXX XX XX
                                </div>
                                <div class="art-precio">
                                    $$$$$$
                                </div>
                            </div>
                            <div class="caja-art-inf-der-cat">
                                <i class="fa-solid fa-circle-plus"></i>
                            </div>
                        </div>
                    </article>
                    <article class="tarjeta-art-cat">
                        <div class="caja-art-cat-sup">
                            <img src="" alt="">
                        </div>
                        <div class="caja-art-inf-cat">

                            <div class="caja-art-inf-izq">
                                <div class="art-nombre">
                                    XXXXXXXXXX XX XX
                                </div>
                                <div class="art-precio">
                                    $$$$$$
                                </div>
                            </div>
                            <div class="caja-art-inf-der-cat">
                                <i class="fa-solid fa-circle-plus"></i>
                            </div>
                        </div>
                    </article>
                    <article class="tarjeta-art-cat">
                        <div class="caja-art-cat-sup">
                            <img src="" alt="">
                        </div>
                        <div class="caja-art-inf-cat">

                            <div class="caja-art-inf-izq">
                                <div class="art-nombre">
                                    XXXXXXXXXX XX XX
                                </div>
                                <div class="art-precio">
                                    $$$$$$
                                </div>
                            </div>
                            <div class="caja-art-inf-der-cat">
                                <i class="fa-solid fa-circle-plus"></i>
                            </div>
                        </div>
                    </article>


                </div>

                <div class="tarj-cat-inf-der">
                    <i class="fa-solid fa-circle-chevron-right"></i>
                </div>
            </div>

        </section>


        </div>
    </main>
    
    <!--Footer-->
   <%- include("../views/partials/footer") %>
    </section>