<!--Head-->
<%- include("../views/partials/head") %>

<body>
    <%- include("../views/partials/headerGeneral") %>
    <main>
        <section class="ofertas">

            <div class="ofertas-slide">
                <img src="/img/oferta-01.jpg" alt="">
                <div class="slide-selector">
                    <div>
                        <i class="fa-solid fa-circle"></i>
                        <i class="fa-solid fa-circle"></i>
                        <i class="fa-solid fa-circle"></i>
                        <i class="fa-solid fa-circle"></i>
                    </div>
                </div>
            </div>
        </section>

        <section class="menu-categorias">
            <a href="#" class="boton-menu-cat">
                <img src="/img/cat-01.png" alt="">
            </a>
            <a href="#" class="boton-menu-cat">
                <div>2</div>
            </a>
            <a href="#" class="boton-menu-cat">
                <div>3</div>
            </a>
            <a href="#" class="boton-menu-cat">
                <div>4</div>
            </a>
            <a href="#" class="boton-menu-cat">
                <div>5</div>
            </a>
            <a href="#" class="boton-menu-cat">
                <div>6</div>
            </a>

        </section>

        <section class="tarjeta-categoria">

            <div class="tarj-cat-sup">
                <div>Categoria 1</div>
            </div>

            <div class="tarj-cat-inf">

                <div class="tarj-cat-inf-izq">

                    <article class="tarjeta-art-cat">
                        <div class="caja-art-cat-sup">
                            <a href="/productos/detalle-producto" ><img src="/img/productos-21.jpg" alt=""></a>
                        </div>
                        <div class="caja-art-inf-cat">

                            <div class="caja-art-inf-izq">
                                <div class="art-nombre">
                                    XXXXXXXXXX XX XX
                                </div>
                                <div class="art-precio">
                                    $$$$$$
                                </div>
                            </div>
                            <div class="caja-art-inf-der-cat">
                                <i class="fa-solid fa-circle-plus"></i>
                            </div>
                        </div>
                    </article>
                    <article class="tarjeta-art-cat">
                        <div class="caja-art-cat-sup">
                            <img src="" alt="">
                        </div>
                        <div class="caja-art-inf-cat">

                            <div class="caja-art-inf-izq">
                                <div class="art-nombre">
                                    XXXXXXXXXX XX XX
                                </div>
                                <div class="art-precio">
                                    $$$$$$
                                </div>
                            </div>
                            <div class="caja-art-inf-der-cat">
                                <i class="fa-solid fa-circle-plus"></i>
                            </div>
                        </div>
                    </article>
                    <article class="tarjeta-art-cat">
                        <div class="caja-art-cat-sup">
                            <img src="" alt="">
                        </div>
                        <div class="caja-art-inf-cat">

                            <div class="caja-art-inf-izq">
                                <div class="art-nombre">
                                    XXXXXXXXXX XX XX
                                </div>
                                <div class="art-precio">
                                    $$$$$$
                                </div>
                            </div>
                            <div class="caja-art-inf-der-cat">
                                <i class="fa-solid fa-circle-plus"></i>
                            </div>
                        </div>
                    </article>
                    <article class="tarjeta-art-cat">
                        <div class="caja-art-cat-sup">
                            <img src="" alt="">
                        </div>
                        <div class="caja-art-inf-cat">

                            <div class="caja-art-inf-izq">
                                <div class="art-nombre">
                                    XXXXXXXXXX XX XX
                                </div>
                                <div class="art-precio">
                                    $$$$$$
                                </div>
                            </div>
                            <div class="caja-art-inf-der-cat">
                                <i class="fa-solid fa-circle-plus"></i>
                            </div>
                        </div>
                    </article>


                </div>

                <div class="tarj-cat-inf-der">
                    <i class="fa-solid fa-circle-chevron-right"></i>
                </div>
            </div>

        </section>

        <section class="tarjeta-categoria">

            <div class="tarj-cat-sup">
                <div>Categoria 2</div>
            </div>

            <div class="tarj-cat-inf">

                <div class="tarj-cat-inf-izq">

                    <article class="tarjeta-art-cat">
                        <div class="caja-art-cat-sup">
                            <img src="" alt="">
                        </div>
                        <div class="caja-art-inf-cat">

                            <div class="caja-art-inf-izq">
                                <div class="art-nombre">
                                    XXXXXXXXXX XX XX
                                </div>
                                <div class="art-precio">
                                    $$$$$$
                                </div>
                            </div>
                            <div class="caja-art-inf-der-cat">
                                <i class="fa-solid fa-circle-plus"></i>
                            </div>
                        </div>
                    </article>
                    <article class="tarjeta-art-cat">
                        <div class="caja-art-cat-sup">
                            <img src="" alt="">
                        </div>
                        <div class="caja-art-inf-cat">

                            <div class="caja-art-inf-izq">
                                <div class="art-nombre">
                                    XXXXXXXXXX XX XX
                                </div>
                                <div class="art-precio">
                                    $$$$$$
                                </div>
                            </div>
                            <div class="caja-art-inf-der-cat">
                                <i class="fa-solid fa-circle-plus"></i>
                            </div>
                        </div>
                    </article>
                    <article class="tarjeta-art-cat">
                        <div class="caja-art-cat-sup">
                            <img src="" alt="">
                        </div>
                        <div class="caja-art-inf-cat">

                            <div class="caja-art-inf-izq">
                                <div class="art-nombre">
                                    XXXXXXXXXX XX XX
                                </div>
                                <div class="art-precio">
                                    $$$$$$
                                </div>
                            </div>
                            <div class="caja-art-inf-der-cat">
                                <i class="fa-solid fa-circle-plus"></i>
                            </div>
                        </div>
                    </article>
                    <article class="tarjeta-art-cat">
                        <div class="caja-art-cat-sup">
                            <img src="" alt="">
                        </div>
                        <div class="caja-art-inf-cat">

                            <div class="caja-art-inf-izq">
                                <div class="art-nombre">
                                    XXXXXXXXXX XX XX
                                </div>
                                <div class="art-precio">
                                    $$$$$$
                                </div>
                            </div>
                            <div class="caja-art-inf-der-cat">
                                <i class="fa-solid fa-circle-plus"></i>
                            </div>
                        </div>
                    </article>


                </div>

                <div class="tarj-cat-inf-der">
                    <i class="fa-solid fa-circle-chevron-right"></i>
                </div>
            </div>

        </section>
        <section class="tarjeta-categoria">

            <div class="tarj-cat-sup">
                <div>Categoria 3</div>
            </div>

            <div class="tarj-cat-inf">

                <div class="tarj-cat-inf-izq">

                    <article class="tarjeta-art-cat">
                        <div class="caja-art-cat-sup">
                            <img src="" alt="">
                        </div>
                        <div class="caja-art-inf-cat">

                            <div class="caja-art-inf-izq">
                                <div class="art-nombre">
                                    XXXXXXXXXX XX XX
                                </div>
                                <div class="art-precio">
                                    $$$$$$
                                </div>
                            </div>
                            <div class="caja-art-inf-der-cat">
                                <i class="fa-solid fa-circle-plus"></i>
                            </div>
                        </div>
                    </article>
                    <article class="tarjeta-art-cat">
                        <div class="caja-art-cat-sup">
                            <img src="" alt="">
                        </div>
                        <div class="caja-art-inf-cat">

                            <div class="caja-art-inf-izq">
                                <div class="art-nombre">
                                    XXXXXXXXXX XX XX
                                </div>
                                <div class="art-precio">
                                    $$$$$$
                                </div>
                            </div>
                            <div class="caja-art-inf-der-cat">
                                <i class="fa-solid fa-circle-plus"></i>
                            </div>
                        </div>
                    </article>
                    <article class="tarjeta-art-cat">
                        <div class="caja-art-cat-sup">
                            <img src="" alt="">
                        </div>
                        <div class="caja-art-inf-cat">

                            <div class="caja-art-inf-izq">
                                <div class="art-nombre">
                                    XXXXXXXXXX XX XX
                                </div>
                                <div class="art-precio">
                                    $$$$$$
                                </div>
                            </div>
                            <div class="caja-art-inf-der-cat">
                                <i class="fa-solid fa-circle-plus"></i>
                            </div>
                        </div>
                    </article>
                    <article class="tarjeta-art-cat">
                        <div class="caja-art-cat-sup">
                            <img src="" alt="">
                        </div>
                        <div class="caja-art-inf-cat">

                            <div class="caja-art-inf-izq">
                                <div class="art-nombre">
                                    XXXXXXXXXX XX XX
                                </div>
                                <div class="art-precio">
                                    $$$$$$
                                </div>
                            </div>
                            <div class="caja-art-inf-der-cat">
                                <i class="fa-solid fa-circle-plus"></i>
                            </div>
                        </div>
                    </article>


                </div>

                <div class="tarj-cat-inf-der">
                    <i class="fa-solid fa-circle-chevron-right"></i>
                </div>
            </div>

        </section>
        <section class="tarjeta-categoria">

            <div class="tarj-cat-sup">
                <div>Categoria 4</div>
            </div>

            <div class="tarj-cat-inf">

                <div class="tarj-cat-inf-izq">

                    <article class="tarjeta-art-cat">
                        <div class="caja-art-cat-sup">
                            <img src="" alt="">
                        </div>
                        <div class="caja-art-inf-cat">

                            <div class="caja-art-inf-izq">
                                <div class="art-nombre">
                                    XXXXXXXXXX XX XX
                                </div>
                                <div class="art-precio">
                                    $$$$$$
                                </div>
                            </div>
                            <div class="caja-art-inf-der-cat">
                                <i class="fa-solid fa-circle-plus"></i>
                            </div>
                        </div>
                    </article>
                    <article class="tarjeta-art-cat">
                        <div class="caja-art-cat-sup">
                            <img src="" alt="">
                        </div>
                        <div class="caja-art-inf-cat">

                            <div class="caja-art-inf-izq">
                                <div class="art-nombre">
                                    XXXXXXXXXX XX XX
                                </div>
                                <div class="art-precio">
                                    $$$$$$
                                </div>
                            </div>
                            <div class="caja-art-inf-der-cat">
                                <i class="fa-solid fa-circle-plus"></i>
                            </div>
                        </div>
                    </article>
                    <article class="tarjeta-art-cat">
                        <div class="caja-art-cat-sup">
                            <img src="" alt="">
                        </div>
                        <div class="caja-art-inf-cat">

                            <div class="caja-art-inf-izq">
                                <div class="art-nombre">
                                    XXXXXXXXXX XX XX
                                </div>
                                <div class="art-precio">
                                    $$$$$$
                                </div>
                            </div>
                            <div class="caja-art-inf-der-cat">
                                <i class="fa-solid fa-circle-plus"></i>
                            </div>
                        </div>
                    </article>
                    <article class="tarjeta-art-cat">
                        <div class="caja-art-cat-sup">
                            <img src="" alt="">
                        </div>
                        <div class="caja-art-inf-cat">

                            <div class="caja-art-inf-izq">
                                <div class="art-nombre">
                                    XXXXXXXXXX XX XX
                                </div>
                                <div class="art-precio">
                                    $$$$$$
                                </div>
                            </div>
                            <div class="caja-art-inf-der-cat">
                                <i class="fa-solid fa-circle-plus"></i>
                            </div>
                        </div>
                    </article>


                </div>

                <div class="tarj-cat-inf-der">
                    <i class="fa-solid fa-circle-chevron-right"></i>
                </div>
            </div>

        </section>



    </main>
    <!--Footer-->
    <%- include("../views/partials/footer") %>
</body>

</html>