<!--Head-->
<%- include("../views/partials/head") %>

    <body>
        <header class="encabezado">

            <nav class="navegacion">

                <div class="nav-izq">
                    <a href="/home"><img src="/img/new-icons/logo-letbar-sin-fondo.png" alt="" class="iconos"></a>
                </div>

                <nav class="nav-cent">

                    <img src="/img/new-icons/icono-lupa.png" alt="" class="iconos">


                </nav>

                <div class="nav-der">
                    <a href="/users/login"><img class="iconos" src="/img/new-icons/icono-login2.png" alt="alhas"></a>
                </div>


            </nav>

            <div class="caja-slogan">
                <p class="slogan">DE LA PUERTA DEL <palabra-rosa> BAR </palabra-rosa><br> A TU <palabra-celeste>CASA
                    </palabra-celeste>
                </p>
            </div>
            <form id="direcciones" action="/users/addressForStorage" class="caja-formDirect" method="POST">

                <p class="subtitulo">Podés encontrarnos en:</p>

                <div class="container-forms">

                    <select name="province" id="province" class="input-form-Direct width50" placeholder="lalalal">
                        <option value="Buenos Aires">
                            Buenos Aires
                        </option>
                        <option value="Mendoza">
                            Mendoza
                        </option>
                    </select>

                    <select name="locality" id="locality" class="input-form-Direct width50">
                    </select>

                </div>
                <div class="container-forms">

                    <input type="text" name="street" id="street" class="input-form-Direct width75" placeholder="Calle">

                    <input type="number" name="street-number" id="street_number" class="input-form-Direct width25"
                        placeholder="Altura">

                </div>
                <div class="container-forms">

                    <button type="submit" class="button-form-Direct">Buscar en tu dirección : <i> <img
                                src="/img/new-icons/icono-mapa.png" alt="Ver mapa"></i></button>

                </div>
                <div id="msgError">

                </div>

            </form>

        </header>



        <section class="productos-destacados">

            <h3> Productos destacados </h3>

            <div class="galeria-destacados">

                <div class="caja-articulos">

                    <article class="tarjeta-destacado">

                        <div class="sombra-bi">

                        </div>
                        <div class="caja-art-sup">
                            <img class="caja-art-sup" src="/img/productos-20.jpg" alt="">
                        </div>

                        <div class="caja-art-inf">

                            <div class="caja-art-inf-izq">

                                <div class="art-nombre">
                                    Fernet Branca
                                </div>
                                <div class="art-precio">
                                    $1250
                                </div>

                            </div>
                            <div class="caja-art-inf-der">
                                <i class="fa-solid fa-circle-plus"></i>
                            </div>
                        </div>


                    </article>

                    <article class="tarjeta-destacado">

                        <div class="sombra-bi">

                        </div>
                        <div class="caja-art-sup">
                            <img class="caja-art-sup" src="/img/productos-21.jpg" alt="">
                        </div>

                        <div class="caja-art-inf">

                            <div class="caja-art-inf-izq">

                                <div class="art-nombre">
                                    Coca-Cola
                                </div>
                                <div class="art-precio">
                                    $230
                                </div>

                            </div>
                            <div class="caja-art-inf-der">
                                <i class="fa-solid fa-circle-plus"></i>
                            </div>
                        </div>


                    </article>

                    <article class="tarjeta-destacado">

                        <div class="sombra-bi">

                        </div>
                        <div class="caja-art-sup">
                            <img class="caja-art-sup" src="/img/productos-19.jpg" alt="">
                        </div>

                        <div class="caja-art-inf">

                            <div class="caja-art-inf-izq">

                                <div class="art-nombre">
                                    Absolut Vodka
                                </div>
                                <div class="art-precio">
                                    $1500
                                </div>

                            </div>
                            <div class="caja-art-inf-der">
                                <i class="fa-solid fa-circle-plus"></i>
                            </div>
                        </div>


                    </article>

                    <article class="tarjeta-destacado">

                        <div class="sombra-bi">

                        </div>
                        <div class="caja-art-sup">
                            <img class="caja-art-sup" src="/img/productos-18.jpg" alt="">
                        </div>

                        <div class="caja-art-inf">

                            <div class="caja-art-inf-izq">

                                <div class="art-nombre">
                                    Santa Julia
                                </div>
                                <div class="art-precio">
                                    $550
                                </div>

                            </div>
                            <div class="caja-art-inf-der">
                                <i class="fa-solid fa-circle-plus"></i>
                            </div>
                        </div>


                    </article>
                </div>
            </div>

            <div>
                <a href="/home">
                    <input type="button" value="Ver más" class="boton-ver-mas">
                </a>
            </div>

        </section>

        <section class="ofertas">

            <div class="tarjeta-oferta">

                <div>
                    <img class="tarjeta-oferta-img" src="/img/oferta-01.jpg" alt="">
                </div>
                <div class="oferta-botones">
                    <div>
                        <i class="fa-solid fa-chevron-left"></i>
                    </div>
                    <div>
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>
                </div>
            </div>
        </section>

        <!--Footer-->
        <%- include("../views/partials/footer") %>

            <!--Script Inputs Address-->
            <script src="/js/formularioDirecciones.js"></script>

    </body>