<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home logueado</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/596c39a353.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">


</head>

<body>
    <header class="menu-inicio">
        <div class="nav-izq">
            <img src="/img/logo-letbar-sin-fondo.png" alt="" class="iconos">
        </div>

        <nav class="nav-cent">
            <div class="caja-direc-izq">
                <i><img src="/img/icono-mapa.png" alt="Ver mapa"></i>
            </div>
            <div class="caja-direc-der">
                <div>
                    Enviar a:
                </div>
                <p>
                    P. Sherman,
                </p>
                <p>
                    calle Wallaby 42, Sidney.
                </p>  
                

            </div>
        </nav>

        <div class="nav-der">
            <img src="/img/icono-carrito.png" alt="" class="iconos">
            <img class="iconos" src="/img/icono-perfil.png" alt="">

        </div>
    </header>
    <main>
        <section class="ofertas">

            <div class="ofertas-slide">
                <img src="/img/oferta-01.jpg" alt="">
                <div class="slide-selector">
                    <div>
                        <i class="fa-solid fa-circle"></i>
                        <i class="fa-solid fa-circle"></i>
                        <i class="fa-solid fa-circle"></i>
                        <i class="fa-solid fa-circle"></i>
                    </div>
                </div>
            </div>
        </section>

        <section class="menu-categorias">
            <a href="#" class="boton-menu-cat">
                <img src="/img/cat-01.png" alt="">
            </a>
            <a href="#" class="boton-menu-cat">
                <div>2</div>
            </a>
            <a href="#" class="boton-menu-cat">
                <div>3</div>
            </a>
            <a href="#" class="boton-menu-cat">
                <div>4</div>
            </a>
            <a href="#" class="boton-menu-cat">
                <div>5</div>
            </a>
            <a href="#" class="boton-menu-cat">
                <div>6</div>
            </a>

        </section>

        <section class="tarjeta-categoria">

            <div class="tarj-cat-sup">
                <div>Categoria 1</div>
            </div>

            <div class="tarj-cat-inf">

                <div class="tarj-cat-inf-izq">

                    <article class="tarjeta-art-cat">
                        <div class="caja-art-cat-sup">
                            <img src="/img/productos-21.jpg" alt="">
                        </div>
                        <div class="caja-art-inf-cat">

                            <div class="caja-art-inf-izq">
                                <div class="art-nombre">
                                    XXXXXXXXXX XX XX
                                </div>
                                <div class="art-precio">
                                    $$$$$$
                                </div>
                            </div>
                            <div class="caja-art-inf-der-cat">
                                <i class="fa-solid fa-circle-plus"></i>
                            </div>
                        </div>
                    </article>
                    <article class="tarjeta-art-cat">
                        <div class="caja-art-cat-sup">
                            <img src="" alt="">
                        </div>
                        <div class="caja-art-inf-cat">

                            <div class="caja-art-inf-izq">
                                <div class="art-nombre">
                                    XXXXXXXXXX XX XX
                                </div>
                                <div class="art-precio">
                                    $$$$$$
                                </div>
                            </div>
                            <div class="caja-art-inf-der-cat">
                                <i class="fa-solid fa-circle-plus"></i>
                            </div>
                        </div>
                    </article>
                    <article class="tarjeta-art-cat">
                        <div class="caja-art-cat-sup">
                            <img src="" alt="">
                        </div>
                        <div class="caja-art-inf-cat">

                            <div class="caja-art-inf-izq">
                                <div class="art-nombre">
                                    XXXXXXXXXX XX XX
                                </div>
                                <div class="art-precio">
                                    $$$$$$
                                </div>
                            </div>
                            <div class="caja-art-inf-der-cat">
                                <i class="fa-solid fa-circle-plus"></i>
                            </div>
                        </div>
                    </article>
                    <article class="tarjeta-art-cat">
                        <div class="caja-art-cat-sup">
                            <img src="" alt="">
                        </div>
                        <div class="caja-art-inf-cat">

                            <div class="caja-art-inf-izq">
                                <div class="art-nombre">
                                    XXXXXXXXXX XX XX
                                </div>
                                <div class="art-precio">
                                    $$$$$$
                                </div>
                            </div>
                            <div class="caja-art-inf-der-cat">
                                <i class="fa-solid fa-circle-plus"></i>
                            </div>
                        </div>
                    </article>


                </div>

                <div class="tarj-cat-inf-der">
                    <i class="fa-solid fa-circle-chevron-right"></i>
                </div>
            </div>

        </section>

        <section class="tarjeta-categoria">

            <div class="tarj-cat-sup">
                <div>Categoria 2</div>
            </div>

            <div class="tarj-cat-inf">

                <div class="tarj-cat-inf-izq">

                    <article class="tarjeta-art-cat">
                        <div class="caja-art-cat-sup">
                            <img src="" alt="">
                        </div>
                        <div class="caja-art-inf-cat">

                            <div class="caja-art-inf-izq">
                                <div class="art-nombre">
                                    XXXXXXXXXX XX XX
                                </div>
                                <div class="art-precio">
                                    $$$$$$
                                </div>
                            </div>
                            <div class="caja-art-inf-der-cat">
                                <i class="fa-solid fa-circle-plus"></i>
                            </div>
                        </div>
                    </article>
                    <article class="tarjeta-art-cat">
                        <div class="caja-art-cat-sup">
                            <img src="" alt="">
                        </div>
                        <div class="caja-art-inf-cat">

                            <div class="caja-art-inf-izq">
                                <div class="art-nombre">
                                    XXXXXXXXXX XX XX
                                </div>
                                <div class="art-precio">
                                    $$$$$$
                                </div>
                            </div>
                            <div class="caja-art-inf-der-cat">
                                <i class="fa-solid fa-circle-plus"></i>
                            </div>
                        </div>
                    </article>
                    <article class="tarjeta-art-cat">
                        <div class="caja-art-cat-sup">
                            <img src="" alt="">
                        </div>
                        <div class="caja-art-inf-cat">

                            <div class="caja-art-inf-izq">
                                <div class="art-nombre">
                                    XXXXXXXXXX XX XX
                                </div>
                                <div class="art-precio">
                                    $$$$$$
                                </div>
                            </div>
                            <div class="caja-art-inf-der-cat">
                                <i class="fa-solid fa-circle-plus"></i>
                            </div>
                        </div>
                    </article>
                    <article class="tarjeta-art-cat">
                        <div class="caja-art-cat-sup">
                            <img src="" alt="">
                        </div>
                        <div class="caja-art-inf-cat">

                            <div class="caja-art-inf-izq">
                                <div class="art-nombre">
                                    XXXXXXXXXX XX XX
                                </div>
                                <div class="art-precio">
                                    $$$$$$
                                </div>
                            </div>
                            <div class="caja-art-inf-der-cat">
                                <i class="fa-solid fa-circle-plus"></i>
                            </div>
                        </div>
                    </article>


                </div>

                <div class="tarj-cat-inf-der">
                    <i class="fa-solid fa-circle-chevron-right"></i>
                </div>
            </div>

        </section>
        <section class="tarjeta-categoria">

            <div class="tarj-cat-sup">
                <div>Categoria 3</div>
            </div>

            <div class="tarj-cat-inf">

                <div class="tarj-cat-inf-izq">

                    <article class="tarjeta-art-cat">
                        <div class="caja-art-cat-sup">
                            <img src="" alt="">
                        </div>
                        <div class="caja-art-inf-cat">

                            <div class="caja-art-inf-izq">
                                <div class="art-nombre">
                                    XXXXXXXXXX XX XX
                                </div>
                                <div class="art-precio">
                                    $$$$$$
                                </div>
                            </div>
                            <div class="caja-art-inf-der-cat">
                                <i class="fa-solid fa-circle-plus"></i>
                            </div>
                        </div>
                    </article>
                    <article class="tarjeta-art-cat">
                        <div class="caja-art-cat-sup">
                            <img src="" alt="">
                        </div>
                        <div class="caja-art-inf-cat">

                            <div class="caja-art-inf-izq">
                                <div class="art-nombre">
                                    XXXXXXXXXX XX XX
                                </div>
                                <div class="art-precio">
                                    $$$$$$
                                </div>
                            </div>
                            <div class="caja-art-inf-der-cat">
                                <i class="fa-solid fa-circle-plus"></i>
                            </div>
                        </div>
                    </article>
                    <article class="tarjeta-art-cat">
                        <div class="caja-art-cat-sup">
                            <img src="" alt="">
                        </div>
                        <div class="caja-art-inf-cat">

                            <div class="caja-art-inf-izq">
                                <div class="art-nombre">
                                    XXXXXXXXXX XX XX
                                </div>
                                <div class="art-precio">
                                    $$$$$$
                                </div>
                            </div>
                            <div class="caja-art-inf-der-cat">
                                <i class="fa-solid fa-circle-plus"></i>
                            </div>
                        </div>
                    </article>
                    <article class="tarjeta-art-cat">
                        <div class="caja-art-cat-sup">
                            <img src="" alt="">
                        </div>
                        <div class="caja-art-inf-cat">

                            <div class="caja-art-inf-izq">
                                <div class="art-nombre">
                                    XXXXXXXXXX XX XX
                                </div>
                                <div class="art-precio">
                                    $$$$$$
                                </div>
                            </div>
                            <div class="caja-art-inf-der-cat">
                                <i class="fa-solid fa-circle-plus"></i>
                            </div>
                        </div>
                    </article>


                </div>

                <div class="tarj-cat-inf-der">
                    <i class="fa-solid fa-circle-chevron-right"></i>
                </div>
            </div>

        </section>
        <section class="tarjeta-categoria">

            <div class="tarj-cat-sup">
                <div>Categoria 4</div>
            </div>

            <div class="tarj-cat-inf">

                <div class="tarj-cat-inf-izq">

                    <article class="tarjeta-art-cat">
                        <div class="caja-art-cat-sup">
                            <img src="" alt="">
                        </div>
                        <div class="caja-art-inf-cat">

                            <div class="caja-art-inf-izq">
                                <div class="art-nombre">
                                    XXXXXXXXXX XX XX
                                </div>
                                <div class="art-precio">
                                    $$$$$$
                                </div>
                            </div>
                            <div class="caja-art-inf-der-cat">
                                <i class="fa-solid fa-circle-plus"></i>
                            </div>
                        </div>
                    </article>
                    <article class="tarjeta-art-cat">
                        <div class="caja-art-cat-sup">
                            <img src="" alt="">
                        </div>
                        <div class="caja-art-inf-cat">

                            <div class="caja-art-inf-izq">
                                <div class="art-nombre">
                                    XXXXXXXXXX XX XX
                                </div>
                                <div class="art-precio">
                                    $$$$$$
                                </div>
                            </div>
                            <div class="caja-art-inf-der-cat">
                                <i class="fa-solid fa-circle-plus"></i>
                            </div>
                        </div>
                    </article>
                    <article class="tarjeta-art-cat">
                        <div class="caja-art-cat-sup">
                            <img src="" alt="">
                        </div>
                        <div class="caja-art-inf-cat">

                            <div class="caja-art-inf-izq">
                                <div class="art-nombre">
                                    XXXXXXXXXX XX XX
                                </div>
                                <div class="art-precio">
                                    $$$$$$
                                </div>
                            </div>
                            <div class="caja-art-inf-der-cat">
                                <i class="fa-solid fa-circle-plus"></i>
                            </div>
                        </div>
                    </article>
                    <article class="tarjeta-art-cat">
                        <div class="caja-art-cat-sup">
                            <img src="" alt="">
                        </div>
                        <div class="caja-art-inf-cat">

                            <div class="caja-art-inf-izq">
                                <div class="art-nombre">
                                    XXXXXXXXXX XX XX
                                </div>
                                <div class="art-precio">
                                    $$$$$$
                                </div>
                            </div>
                            <div class="caja-art-inf-der-cat">
                                <i class="fa-solid fa-circle-plus"></i>
                            </div>
                        </div>
                    </article>


                </div>

                <div class="tarj-cat-inf-der">
                    <i class="fa-solid fa-circle-chevron-right"></i>
                </div>
            </div>

        </section>



    </main>
    <footer>

        <div class="caja-footer">

            <div class="caja-footer-izq">

                <div class="caja-footer-izq-sup">

                    <div class="caja-footer-izq-sup-izq">
                        <img src="/img/logo-letbar-sin-fondo.png" alt="" class="logo">
                    </div>
                    <div class="caja-footer-izq-sup-der">
                        <div>
                            Todos los derechos reservados.
                        </div>

                    </div>
                </div>

                <div class="caja-footer-izq-inf">
                    <div>
                        <img src="/img/icono-insta.png" alt="" class="iconos-footer">
                    </div>
                    <div>
                        <img src="/img/icono.wap.png" alt="" class="iconos-footer">
                    </div>
                    <div>
                        <img src="/img/icono-twitter.png" alt="" class="iconos-footer">
                    </div>
                </div>
            </div>

            <div class="caja-footer-der">

                <a href="#">Preguntas frecuentes</a>
                <a href="#">Términos y condiciones</a>
                <a href="#">Trabajá con nosotros</a>
                <a href="#">Contacto</a>
                <a href="#">Medidas Covid-19</a>
            </div>

        </div>

        <div class="caja-disclaimer">
            <div>© 2022 Let-Bar - BEBER CON MODERACIÓN. PROHIBIDA SU VENTA A MENORES DE 18 AÑOS.</div>
        </div>
    </footer>

</body>

</html>