
<%- include("../views/partials/head") %>

<body>
    
    <%- include("../views/partials/headerGeneral") %>
        <main>

            <div class="logo-registro">
                <img src="/img/logo-letbar-sin-fondo.png" alt="">
            </div>

            <div class="opcion-crear-cuenta">
                <h1>¿No tenes una cuenta?</h1>
               <a href="/users/register"><button class="boton-formulario">Crear cuenta</button></a>
            </div>


            <div class="formulario">

                <h4>Iniciar sesión</h4>

                <form action="resultado.html" method="POST">

                    <div>
                        <label>Email:</label>
                        <input class="control" type="email" name="Email" placeholder="Email" required>
                    </div>

                    <div>
                        <label>Contraseña:</label>
                        <input class="control" type="password" name="Contraseña" placeholder="Contraseña" required>
                    </div>

                    <button type="submit" class="boton-formulario">Iniciar sesión</button>
                    </br>
                    <div class="passw">    
                    <a href="#">Olvide mi contraseña</a>
                    </div>
                        <div>
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-google"></a>
                        </div>
                    
                </form>

            </div>
        </main>

        <%- include("../views/partials/footer") %>

</body>

</html>