<!-- inicio Pop Up de producto-->
<label for="popUp"><img src="/img/icono-carrito.png" alt="" class="iconos"></label>

<input type="checkbox" id="popUp">

<div class="fondo-popUp">

    <div class="cont-popUp">

        <div class="tarjeta-popUp">
            <img src="/img/users/avatar/rick_morty.jpg" alt="" class="img-perfil">
            <br>

            <h2>nombre </h3>
                <br>

                <div class="label-popUp">Email:</div>
                <div class="imputForm">email</div>
                <br>

                <div class="label-popUp">Telefono:</div>
                <div class="imputForm">telefono</div>
                <br>

                <div class="label-popUp">Dirección:</div>
                <div class="imputForm">direccion</div>
                <br>
                <label for="popUp" class="boton-cerrar-popUp"><i class="fa-solid fa-circle-chevron-left"></i></label>
        </div>
    </div>
</div>
<!-- FIN Pop Up de producto-->