<!-- inicio Pop Up de producto-->
<label for="popUp"><img src="/img/icono-carrito.png" alt="" class="iconos"></label>

<input type="checkbox" id="popUp">

<div class="fondo-popUp">

    <div class="cont-popUp">

        <div class="tarjeta-popUp">
            <img src="/img/users/avatar/rick_morty.jpg" alt="" class="img-perfil">
            <br>

            <h2>nombre </h3>
                <br>

                <div class="label-popUp">Email:</div>
                <div class="imputForm">email</div>
                <br>

                <div class="label-popUp">Telefono:</div>
                <div class="imputForm">telefono</div>
                <br>

                <div class="label-popUp">Dirección:</div>
                <div class="imputForm">direccion</div>
                <br>
                <div class="label-popUp">Valora este producto:</div>
                <form action="/productos/valorar/<%= producto.id %>?_method=PUT" method="POST" class="valoracion">


                    <div class="clasificacion">
                        <input id="radio1" type="radio" name="estrellas" value="5">
                        <label for="radio1"><i class="fa-regular fa-star"></i></label>
                        <input id="radio2" type="radio" name="estrellas" value="4">
                        <label for="radio2"><i class="fa-regular fa-star"></i></label>
                        <input id="radio3" type="radio" name="estrellas" value="3">
                        <label for="radio3"><i class="fa-regular fa-star"></i></label>
                        <input id="radio4" type="radio" name="estrellas" value="2">
                        <label for="radio4"><i class="fa-regular fa-star"></i></label>
                        <input id="radio5" type="radio" name="estrellas" value="1">
                        <label for="radio5"><i class="fa-regular fa-star"></i></label>
                    </div>
                    <button type="submit" class="boton-valoracion">Valorar</button>
                </form>

                <label for="popUp" class="boton-cerrar-popUp"><i class="fa-solid fa-circle-chevron-left"></i></label>
        </div>
    </div>
</div>
<!-- FIN Pop Up de producto-->