

 <%- include("../views/partials/head") %>

<body>
  
    <%- include("../views/partials/headerGeneral") %>

        <main>

            <div class="logo-registro">
                <img src="/img/logo-letbar-sin-fondo.png" alt="">
            </div>
            
            <div class="formulario">
                    
                <h4>Crea tu cuenta</h4>

                <form action="resultado.html" method="POST">
                    <div>
                        <label>Nombre y Apellido:</label>
                        <input class="control" type="text" name="nombre y apellido" placeholder="Nombre y Apellido" required>
                    </div>

                    <div>
                        <label>Email:</label>
                        <input class="control" type="email" name="Email" placeholder="Email" required>
                    </div>

                    <div>
                        <label>Contraseña:</label>
                        <input class="control" type="password" name="Contraseña" placeholder="Contraseña" required>
                    </div>

                    <div >
                        <label>Repetir contraseña:</label>
                        <input class="control" type="password" name="Repetir contraseña" placeholder="Repetir contraseña" required>
                    </div>

                    <div>
                        <label>Número de teléfono:</label>
                        <input class="control" type="tel" name="Número de teléfono" placeholder="Número de teléfono">
                    </div>

                    <div>
                        <label>Fecha de nacimiento:</label>
                        <input class="control" type="date" name="fecha de nacimiento" required>
                    </div>

                    <a href="/home"><button type="submit" class="boton-formulario">Registrarme</button></a>

                    <h2>O ingresa con...</h2>

                    <div>

                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-google"></a>
                    </div>
            </form>
            </div>

        </main>

        
   <!--Footer-->
   <%- include("../views/partials/footer") %>

    

</body>

</html>

