<footer>

    <div class="caja-footer">

        <div class="caja-footer-izq">

            <div class="caja-footer-izq-sup">

                <div class="caja-footer-izq-sup-izq">
                    <a href="/home"><img src="/img/logo-letbar-sin-fondo.png" alt="" class="iconos"></a>
                </div>
                <div class="caja-footer-izq-sup-der">
                    <div>
                        Todos los derechos reservados.
                    </div>

                </div>
            </div>

            <div class="caja-footer-izq-inf">
                <div>
                    <img src="/img/icono-insta.png" alt="" class="iconos-footer">
                </div>
                <div>
                    <img src="/img/icono.wap.png" alt="" class="iconos-footer">
                </div>
                <div>
                    <img src="/img/icono-twitter.png" alt="" class="iconos-footer">
                </div>
                <div>
                    <a href="/users/panel-control"><i class="fa-solid fa-sliders icono-control"></i></a>
                </div>
            </div>
        </div>

        <div class="caja-footer-der">

            <a href="#">Preguntas frecuentes</a>
            <a href="#">Términos y condiciones</a>
            <a href="#">Trabajá con nosotros</a>
            <a href="#">Contacto</a>
            <a href="#">Medidas Covid-19</a>
        </div>

    </div>

    <div class="caja-disclaimer">
        <div>© 2022 Let-Bar - BEBER CON MODERACIÓN. PROHIBIDA SU VENTA A MENORES DE 18 AÑOS.</div>
    </div>
</footer>
