<header class="menu-inicio">
    <div class="nav-izq">
        <img src="/img/logo-letbar-sin-fondo.png" alt="" class="iconos">
    </div>

    <nav class="nav-cent">
        <div class="caja-direc-izq">
            <i><img src="/img/icono-mapa.png" alt="Ver mapa"></i>
        </div>
        <div class="caja-direc-der">
            <div>
                Enviar a:
            </div>
            <p>
                P. Sherman,
            </p>
            <p>
                calle Wallaby 42, Sidney.
            </p>  
            

        </div>
    </nav>

    <div class="nav-der">
        <img src="/img/icono-carrito.png" alt="" class="iconos">
        <img class="iconos" src="/img/icono-perfil.png" alt="">

    </div>
</header>