<!--Script Inputs Address-->
<script src="/js/printDirecciones.js"></script>

<header class="menu-inicio">
    <div class="nav-izq">
        <a href="/home"><img src="/img/new-icons/logo-letbar-sin-fondo.png" alt="" class="iconos"></a>
    </div>

    <nav class="nav-cent">
        <div class="caja-direc-izq">
            <i><img src="/img/new-icons/icono-mapa.png" alt="Ver mapa"></i>
        </div>
        <div class="caja-direc-der">
            <div>
                Enviar a:
            </div>
            <p id="provincePrint">
                P. Sherman,
            </p>
            <p id="addressPrint">
                calle Wallaby 42, Sidney.
            </p>


        </div>
    </nav>

    <div class="nav-der">
<% if(locals.estaLogueado && locals.usuarioLogueado.category_id == 2) { %>
                    
                        <a href="/users/panel-control"><i class="fa-solid fa-sliders iconos icono-control menu-inicio"></i></a>
                    
                <% } %>
        <!-- <a  for="btn-menu"><img src="/img/icono-carrito.png" alt="" class="iconos"></a> -->
        <label for="btn-menu"><img src="/img/new-icons/icono-carrito.png" alt="" class="iconos"></label>
         <% if (locals.estaLogueado)  { %>
        <a href="/users/perfil"><img class="iconos" src="/img/new-icons/icono-perfil.png" alt="alhas"></a>
        <% } else { %>
            <a href="/users/login"><img class="iconos" src="/img/new-icons/icono-login2.png" alt="alhas"></a>
        <% } %>

    </div>
</header>

<!--Menu Desplegable-->

<input type="checkbox" id="btn-menu">

<div class="container-menu">

    <div class="cont-menu">

        <div class="carrito-encabezado">

            <div>
                Carrito
            </div>
            <div class="carrito-encabezado-cerrar">
                <label for="btn-menu"><i class="fa-solid fa-xmark carrito-encabezado-cerrar"></i></label>
            </div>
        </div>

        <div class="carrito-cuerpo">

            <div class="carrito-producto">
                <div class="carr-caj-izq">
                    <img src="/img/productos-20.jpg" alt="">
                </div>
                <div class="carr-caj-der">
                    <div class="carr-caj-der-sup">
                        <div class="carr-caj-der-sup-nomb">
                            Fernandito
                        </div>
                        <div class="carr-caj-der-sup-prec">
                            500 pe
                        </div>
                    </div>
                    <div class="carr-caj-der-inf">
                        <div class="carr-caj-der-inf-cant">
                            - Cantidad +
                        </div>
                        <div class="carr-caj-der-inf-borrar">
                            <i class="fa-solid fa-xmark"></i>
                        </div>
                    </div>
                </div>


            </div>
            <div class="carrito-producto">
                <div class="carr-caj-izq">
                    <img src="/img/productos-20.jpg" alt="">
                </div>
                <div class="carr-caj-der">
                    <div class="carr-caj-der-sup">
                        <div class="carr-caj-der-sup-nomb">
                            Fernandito
                        </div>
                        <div class="carr-caj-der-sup-prec">
                            500 pe
                        </div>
                    </div>
                    <div class="carr-caj-der-inf">
                        <div class="carr-caj-der-inf-cant">
                            - Cantidad +
                        </div>
                        <div class="carr-caj-der-inf-borrar">
                            <i class="fa-solid fa-xmark"></i>
                        </div>
                    </div>
                </div>


            </div>
            <div class="carrito-producto">
                <div class="carr-caj-izq">
                    <img src="/img/productos-20.jpg" alt="">
                </div>
                <div class="carr-caj-der">
                    <div class="carr-caj-der-sup">
                        <div class="carr-caj-der-sup-nomb">
                            Fernandito
                        </div>
                        <div class="carr-caj-der-sup-prec">
                            500 pe
                        </div>
                    </div>
                    <div class="carr-caj-der-inf">
                        <div class="carr-caj-der-inf-cant">
                            - Cantidad +
                        </div>
                        <div class="carr-caj-der-inf-borrar">
                            <i class="fa-solid fa-xmark"></i>
                        </div>
                    </div>
                </div>


            </div>
            <div class="carrito-producto">
                <div class="carr-caj-izq">
                    <img src="/img/productos-20.jpg" alt="">
                </div>
                <div class="carr-caj-der">
                    <div class="carr-caj-der-sup">
                        <div class="carr-caj-der-sup-nomb">
                            Fernandito
                        </div>
                        <div class="carr-caj-der-sup-prec">
                            500 pe
                        </div>
                    </div>
                    <div class="carr-caj-der-inf">
                        <div class="carr-caj-der-inf-cant">
                            - Cantidad +
                        </div>
                        <div class="carr-caj-der-inf-borrar">
                            <i class="fa-solid fa-xmark"></i>
                        </div>
                    </div>
                </div>


            </div>
            <div class="carrito-producto">
                <div class="carr-caj-izq">
                    <img src="/img/productos-20.jpg" alt="">
                </div>
                <div class="carr-caj-der">
                    <div class="carr-caj-der-sup">
                        <div class="carr-caj-der-sup-nomb">
                            Fernandito
                        </div>
                        <div class="carr-caj-der-sup-prec">
                            500 pe
                        </div>
                    </div>
                    <div class="carr-caj-der-inf">
                        <div class="carr-caj-der-inf-cant">
                            - Cantidad +
                        </div>
                        <div class="carr-caj-der-inf-borrar">
                            <i class="fa-solid fa-xmark"></i>
                        </div>
                    </div>
                </div>


            </div>



        </div>


        <div class="carrito-footer">
            <div class="carrito-resumen">
                <div class="carrito-res-izq">
                    <div>
                        Productos
                    </div>
                    <div>
                        Costo de envío
                    </div>
                </div>
                <div class="carrito-res-der">
                    <div>
                        $$$$$
                    </div>
                    <div>
                        $$$$
                    </div>
                </div>
            </div>
            <div class="carrito-pago">

                <div class="carrito-pago-sup">

                    <div class="carrito-pago-izq">
                        <div>
                            Total
                        </div>
                    </div>

                    <div class="carrito-pago-der">
                        <div>
                            $$$$$
                        </div>
                    </div>

                </div>
                <div class="carrito-pago-inf">
                    <a href="/compras/check-out">
                        <div>Continuar compra</div>
                    </a>
                </div>
            </div>
        </div>

    </div>


</div>